<!DOCTYPE html>
<html lang="uk">

{{> head}}  {{!-- Підключаємо head" --}}

<body>
    
    {{> header}}  {{!-- Підключаємо header --}}

    {{{body}}}  {{!-- Підключаємо основний вміст --}}

    {{> footer}}  {{!-- Підключаємо footer --}}

</body>
</html>
