<main>
  <section class="search">
    <form id="searchForm">
      <h1>쮐걤햨 쮏얧쮐쮏웸</h1>

      <div class="autocomplete-wrapper">
        <input type="text" id="location" placeholder="뉋쒫왏얨뒘혧 햪혰혜혝 쮏얧쮐쮏웸.." required>
        <div id="autocomplete-dropdown" class="autocomplete-dropdown"></div>
      </div>

      <div class="tabs">
        <button class="tab-button  btn-secondary active" data-tab="lodging" data-category="lodging" style="background-color:aliceblue; border: 1px solid; border-color: rgb(233 97 43); color:rgb(233 97 43)">游낃 햅쮐햣햩혰</button>
        <button class="tab-button btn-secondary" data-tab="museum" data-category="museum" style="background-color:aliceblue; border: 2px solid; border-color: #af1fa8; color:#af1fa8">游끹  햎혞향햣혱</button>
        <button class="tab-button btn-secondary" data-tab="landmark" data-category="landmark" style="background-color:aliceblue; border: 2px solid; border-color: #1faf1f; color:green">游딯햟햪'혪혝햫햦햨햦</button>
        <button class="tab-button btn-secondary" data-tab="shopping_mall" data-category="shopping_mall" style="background-color:aliceblue; border: 2px solid; border-color: #1f62af; color:#1f62af">游 햑쮐햡쮏쒬 혡햣햫혝햦</button>
        <button class="tab-button btn-secondary" data-tab="night_club" data-category="night_club" style="background-color:aliceblue; border: 1px solid; border-color: rgb(217 64 85); color:rgb(217 64 85)">游눆 햌햩혞햠햦</button>
      </div>
      <button type="submit" class="btn-primary">쮐걤햨</button>
    </form>


    <div class="results">
      <div class="tab-content">
        <div id="lodging" class="tab-panel active">
          <div class="loading" style="display: none;">행햟쒫썛쫨햟햤햣햫햫혪...</div>
          <div id="lodging-list" class="cards"></div>
        </div>
        <div id="museum" class="tab-panel">
          <div class="loading" style="display: none;">행햟쒫썛쫨햟햤햣햫햫혪...</div>
          <div id="museum-list" class="cards"></div>
        </div>
        <div id="landmark" class="tab-panel">
          <div class="loading" style="display: none;">행햟쒫썛쫨햟햤햣햫햫혪...</div>
          <div id="landmark-list" class="cards"></div>
        </div>
        <div id="shopping_mall" class="tab-panel">
          <div class="loading" style="display: none;">행햟쒫썛쫨햟햤햣햫햫혪...</div>
          <div id="shopping_mall-list" class="cards"></div>
        </div>
        <div id="night_club" class="tab-panel">
          <div class="loading" style="display: none;">행햟쒫썛쫨햟햤햣햫햫혪...</div>
          <div id="night_club-list" class="cards"></div>
        </div>
      </div>
    </div>
  </section>
</main>


<script src="/js/home.js"></script>