  <div class="container">
    <div class="form-box">
      <h1>Вхід</h1>
      <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Введіть email" value="demo@demo">
        
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" placeholder="Введіть пароль" value="demo">
        
        <button type="submit" class="btn-primary">Увійти</button>
        <p>Немає акаунта? <a href="/registration">Зареєструватися</a></p>
      </form>
    </div>
  </div>